@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

span{
font-family: inherit; /* any style that is set to the parent will be inherited by span */ 
font-weight: inherit; 
}